.button {
    border-radius: 32px;
    background-color: var(--blue);
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: ease .3s;
}

.button:hover {
    transition: ease .3s;
    background-color: var(--blue-dark);
}

.float-card {
    background-color: #FCFDFE;
    padding: 40px 100px;
    position: relative;
    margin-bottom: 100px;
}
.float-card .float-image {
    /* max-width: 360px; */
    position: absolute;
    top: 20%;
    right: 5%;
    width: 300px;
    object-fit: scale-down;
}
.float-card p {
    margin-bottom: 8px !important;
}
.float-card h2 {
    margin-bottom: 18px;
}

.float-fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}